In [9]:
from bokeh.charts import Bar, output_file, show
outDir = 'C:/Users/ankit.bhatia/Documents/GitHub/PythonScripts/data/spark_funds/outDir/'
import pandas as pd

In [10]:
data = pd.read_csv(outDir+'top9.csv')
data

   Unnamed: 0 country_code  raised_amount_usd  IsOfficialEN
0           0          USA       4.225108e+11          True
1           1          CHN       3.983542e+10         False
2           2          GBR       2.024563e+10          True
3           3          IND       1.439186e+10          True
4           4          CAN       9.583332e+09          True
5           5          FRA       7.259537e+09         False
6           6          ISR       6.907515e+09         False
7           7          DEU       6.346960e+09         False
8           8          JPN       3.363677e+09         False

In [11]:
# Output to Line.HTML
output_file("lines.html", title="line plot example") #put output_notebook() for notebook

In [12]:
# create a new line chat with a title and axis labels
p = Bar(data, title="Line Chart Example", xlabel='x', ylabel='values', width=400, height=400)

In [13]:
show(p)

C:\Anaconda3\lib\site-packages\bokeh\core\json_encoder.py:73: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp
  if pd and isinstance(obj, pd.tslib.Timestamp):