In [5]:
import pandas as pd
import numpy as np

In [9]:
d = pd.read_csv('./data/pima_indian_diabetes.csv')
d.head()

,No_Times_Pregnant,Plasma_Glucose,Diastolic_BP,Triceps,Insulin,BMI,Age,Diabetes
0,1,89,66,23,94,28.1,21,0
1,0,137,40,35,168,43.1,33,1
2,3,78,50,32,88,31.0,26,1
3,2,197,70,45,543,30.5,53,1
4,1,189,60,23,846,30.1,59,1

In [10]:
d = (d - d.min()) / (d.max() - d.min())

In [13]:
d.median()

No_Times_Pregnant    0.117647
Plasma_Glucose       0.443662
Diastolic_BP         0.534884
Triceps              0.392857
Insulin              0.134014
BMI                  0.306748
Age                  0.100000
Diabetes             0.000000
dtype: float64

In [14]:
d.describe()

,No_Times_Pregnant,Plasma_Glucose,Diastolic_BP,Triceps,Insulin,BMI,Age,Diabetes
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,0.194178,0.469208,0.542596,0.395454,0.170741,0.304422,0.164413,0.331633
std,0.188907,0.217329,0.145303,0.187793,0.142839,0.143715,0.170013,0.471401
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.058824,0.302817,0.441860,0.250000,0.075421,0.208589,0.033333,0.000000
50%,0.117647,0.443662,0.534884,0.392857,0.134014,0.306748,0.100000,0.000000
75%,0.294118,0.612676,0.627907,0.535714,0.211538,0.386503,0.250000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000