In [20]:
from sklearn import datasets
iris = datasets.load_iris()
import pandas as pd
import numpy as np

In [21]:
data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [22]:
data1.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [23]:
data1['target'].value_counts()

2.0    50
1.0    50
0.0    50
Name: target, dtype: int64

In [24]:
data1 = data1.groupby(by='target')[['sepal length (cm)']].mean().reset_index()

In [27]:
iris3 = data1.rename(columns={'target':'Species','sepal length (cm)':'mean(Sepal.Length)'})

In [29]:
iris3.to_csv("./out/iris.csv",sep=',',index=False)

In [65]:
import pandas as pd
from pydataset import data
iris1 = data('iris')
#write your code here
iris1.groupby(by='target')['sepal length (cm)']

ModuleNotFoundError: No module named 'pydataset'

In [16]:
import numpy as np

In [19]:
x = np.array([3,5,2,9,1,17,12,4])
y = np.array([12,7,3,17,1,4,20,3])

In [20]:
np.corrcoef(x, y)

array([[ 1.        ,  0.38471436],
       [ 0.38471436,  1.        ]])

In [22]:
import math
 
# function that returns correlation coefficient.
def correlationCoefficient(X, Y, n) :
    sum_X = 0
    sum_Y = 0
    sum_XY = 0
    squareSum_X = 0
    squareSum_Y = 0
     
     
    i = 0
    while i < n :
        # sum of elements of array X.
        sum_X = sum_X + X[i]
         
        # sum of elements of array Y.
        sum_Y = sum_Y + Y[i]
         
        # sum of X[i] * Y[i].
        sum_XY = sum_XY + X[i] * Y[i]
         
        # sum of square of array elements.
        squareSum_X = squareSum_X + X[i] * X[i]
        squareSum_Y = squareSum_Y + Y[i] * Y[i]
         
        i = i + 1
      
    # use formula for calculating correlation 
    # coefficient.
    corr = (float)(n * sum_XY - sum_X * sum_Y)/(float)(math.sqrt((n * squareSum_X -sum_X * sum_X)* (n * squareSum_Y -sum_Y * sum_Y)))
    return corr
     
# Driver function
X = [3,5,2,9,1,17,12,4]
Y = [12,7,3,17,1,4,20,3]
      
# Find the size of array.
n = len(X)
 
# Function call to correlationCoefficient.
print ('{0:.6f}'.format(correlationCoefficient(X, Y, n)))

0.384714

In [24]:
import matplotlib.pyplot as plt
import numpy as np

def gini(p):
   return (p)*(1 - (p)) + (1 - p)*(1 - (1-p))

def entropy(p):
   return - p*np.log2(p) - (1 - p)*np.log2((1 - p))

def classification_error(p):
   return 1 - np.max([p, 1 - p])

x = [1, 0, 0, 1, 1, 0, 0]
ent = [entropy(p) if p != 0 else None for p in x]

C:\Users\ab9bh\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:8: RuntimeWarning: divide by zero encountered in log2

C:\Users\ab9bh\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in double_scalars

In [25]:
ent

[nan, None, None, nan, nan, None, None]

In [2]:
import pandas as pd

In [3]:
USArrests1= pd.read_csv('USArrests.csv',index_col=0)

In [4]:
USArrests1.head()

            Murder  Assault  UrbanPop  Rape
Alabama       13.2      236        58  21.2
Alaska        10.0      263        48  44.5
Arizona        8.1      294        80  31.0
Arkansas       8.8      190        50  19.5
California     9.0      276        91  40.6

In [5]:
A = USArrests1.Murder.sort_values(ascending=False).index[0:5]
B = USArrests1.Assault.sort_values(ascending=False).index[0:5]
C = (USArrests1.Murder+USArrests1.Assault+USArrests1.Rape).sort_values(ascending=False).index[0:5]
D = USArrests1.UrbanPop.sort_values().index[0:5]

In [7]:
df = pd.DataFrame(data=[A,B,C,D]).transpose()
df.columns=['A','B','C','D']

In [8]:
df

                A               B               C              D
0         Georgia  North Carolina         Florida        Vermont
1     Mississippi         Florida  North Carolina  West Virginia
2       Louisiana        Maryland        Maryland   North Dakota
3         Florida         Arizona         Arizona    Mississippi
4  South Carolina      New Mexico      New Mexico   South Dakota

In [16]:
df.to_csv("./df.csv",sep=',',index=False)

In [17]:
pd.read_csv('./df.csv')

                A               B               C              D
0         Georgia  North Carolina         Florida        Vermont
1     Mississippi         Florida  North Carolina  West Virginia
2       Louisiana        Maryland        Maryland   North Dakota
3         Florida         Arizona         Arizona    Mississippi
4  South Carolina      New Mexico      New Mexico   South Dakota

In [31]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

xtrain = pd.read_csv("./", encoding =" ISO-8859-1", header = 0)
xtest = pd.read_csv("./input/test.csv", header = 0)

FileNotFoundError: File b'./input/train.csv' does not exist