In [1]:
import numpy as np

### Map

In [26]:
l = [1,2,4,5]
list(map(lambda x: x**2,l))

[1, 4, 16, 25]

#### Using function map, count number of words starting with 'S' in input_list

In [31]:
input_list = ['San Jose','San Fransisco', 'Santa Fe', 'Houston']
count = sum(list(map(lambda x: 1 if x.startswith('S') else 0, input_list)))
print(count)

3

#### Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively.

In [35]:
first_name = ['Ankur', 'Avik', 'Kiran', 'Nitin']
last_name = ['Narang', 'Sarkar', 'R', 'Sareen']
name = list(map(lambda x,y : x +' '+ y, first_name,last_name))
print(name)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

### Filter

In [14]:
l1 = np.random.randint(1,50,10)
l1

array([ 9, 31, 12, 25, 25, 10, 26, 27, 18, 32])

In [15]:
list(filter(lambda x : x % 3==0 , l1))

[9, 12, 27, 18]

### Reduce

In [21]:
from functools import reduce

In [28]:
l2 = reduce(lambda x,y : x+y, l)
l2
#itr1 x=1, y=2, x+y=3
#itr2 x=3, y=4, x+y=7
#itr3 x=7, y=5, x+y=12

12