Import Libraries

In [2]:
import pandas as pd
dirpath = 'C:/Users/ankit.bhatia/Documents/GitHub/PythonScripts/data/'
filename = 'bollywood.csv'

Import Dataset

In [3]:
data = pd.read_csv(dirpath+filename)
data.head()

,Movie,Lead,Rdate,Ocollection,Wcollection,Fwcollection,Tcollection,Verdict
0,Dangal,Aamir,23-Dec-16,29.78,106.95,197.53,386.68,Super Hit
1,Wajah Tum Ho,Sharman,16-Dec-16,2.86,7.79,10.29,10.29,Flop
2,Befikre,Ranveer,09-Dec-16,10.36,34.36,48.75,59.30,Average
3,Kahaani 2,Vidya,02-Dec-16,4.25,16.97,24.26,30.56,Average
4,Dear Zindagi,Shahrukh,25-Nov-16,8.75,32.50,47.00,64.44,Hit

#### Q1. Access the last 10 movies (from the bottom of the Bollywood data frame), Store the names of those movies in last_10 (in the same order)

In [4]:
last_10=data.Movie.tail(10).iloc[::-1]     # .iloc[::-1] is used to reverse (from the bottom of the Bollywood data frame).
last_10

60                   Wazir
59    Kyaa Kool Hain Hum 3
58                 Airlift
57              Mastizaade
56           Saala Khadoos
55       Ghayal Once Again
54        Sanam Teri Kasam
53                Sanam Re
52                  Fitoor
51                  Neerja
Name: Movie, dtype: object

#### Q2. Find out the total number of  missing values (NA) in the bollywood data. Store the result in na_bollywood.

In [11]:
na_bollywood = data.isnull().sum().sum()
na_bollywood

3

#### Q3 Write the command to find out which movie tops the list in terms of Total Collections,Store the movie name top_movie.

In [6]:
top_movie = data[data['Tcollection']==max(data['Tcollection'])]['Movie'].values
print(top_movie)

['Dangal']

#### Q4 Write the command to find out which movie comes second on the list in terms of Total Collections.Store the movie name in variable named top_2_movie

In [7]:
top_2_movie =data.sort_values(by='Tcollection').iloc[-2][0]
top_2_movie

'Sultan'

#### Q5 What is the total collection of Shahrukh, Akshay and Amitabh movies individually? You can use	a column named 'Tcollection' for this

In [8]:
shahrukh_collection= data[data.Lead=='Shahrukh']['Tcollection'].sum()
akshay_collection= data[data.Lead=='Akshay']['Tcollection'].sum()
amitabh_collection= data[data.Lead=='Amitabh']['Tcollection'].sum()
print(shahrukh_collection)
print(akshay_collection)
print(amitabh_collection)

148.54
364.27
121.91

#### Q6  Write command/s to find out how many movies are in Flop, Average, Hit and Superhit categories in the entire Bollywood data set.

In [9]:
data.groupby(by='Verdict').count()['Movie']

Verdict
Average      17
Flop         30
Hit           7
Super Hit     7
Name: Movie, dtype: int64

#### Q7 Write a command to find the names of the movies which have the maximum Ocollection, Wcollection, Fwcollection & Tcollection, Store the names of 4 movies in same sequence in movie_result vector

In [10]:
Ocollection= data[data['Ocollection']==max(data['Ocollection'])]['Movie'].values
Wcollection= data[data['Wcollection']==max(data['Wcollection'])]['Movie'].values
Fwcollection= data[data['Fwcollection']==max(data['Fwcollection'])]['Movie'].values
Tcollection= data[data['Tcollection']==max(data['Tcollection'])]['Movie'].values

movie_result =[Ocollection,Wcollection,Fwcollection,Tcollection]
print(movie_result)

[array(['Sultan'], dtype=object), array(['Sultan'], dtype=object), array(['Sultan'], dtype=object), array(['Dangal'], dtype=object)]