## Investment Case Group Project

In [24]:
import pandas as pd
import numpy as np
dirpath = 'C:/Users/ankit.bhatia/Documents/GitHub/PythonScripts/data/spark_funds/'
file1 = 'companies.txt'
file2 = 'rounds2.csv'
file3 = 'mapping.csv'

In [25]:
companies = pd.read_csv(dirpath+file1,sep='\t',encoding='iso-8859-1')
rounds2 = pd.read_csv(dirpath+file2,encoding='iso-8859-1') # Use 'iso-8859-1' for accented characters

In [26]:
companies.head(3)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN

In [27]:
rounds2.head(2)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN

### Table 1.1
#### Q1. How many unique companies are present in rounds2?

In [28]:
# Normal Count
#rounds2.company_permalink.count()

# Unique count which excludes NA as well by default
rounds2.company_permalink.nunique()

90247

#### Q2. How many unique companies are present in companies?

In [29]:
companies.permalink.nunique()

66368

#### Q3. In the companies data frame, which column can be used as the unique key for each company? Write the name of the column.

In [710]:
# Ist Method
# nunique() will give unique values for each column, column with maximum unique counts can be considered as unique column#### 
#companies.nunique().sort_values(ascending=False).iloc[0:1]

# IInd Method
# Companies.describe() will give count, unique, top etc information, we store count & unique values in a temp df and
# then subtracting unique values(1) from count(0) and giving the column name where difference is 0
companies.describe().iloc[0:2]

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector
count,66368,66367,61310,63220,66368,59410,57821,58338,58340,51147,63220
unique,66368,66102,61191,27296,4,137,311,1092,5111,3978,728

#### Q4. Are there any companies in the rounds2 file which are not  present in companies ?

In [31]:
# Check the existacce of a column of dataframe1 in column1 of dataframe2
rounds2[rounds2['company_permalink'].str.lower().isin(companies['permalink'].str.lower())== False]

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
29597,/ORGANIZATION/E-CÃBICA,/funding-round/8491f74869e4fe8ba9c378394f8fbdea,seed,NaN,01-02-2015,NaN
31863,/ORGANIZATION/ENERGYSTONE-GAMES-ÇµÇ³Æ¸¸Æ,/funding-round/b89553f3d2279c5683ae93f45a21cfe0,seed,NaN,09-08-2014,NaN
45176,/organization/huizuche-com-æ ç§ÿè½¦,/funding-round/8f8a32dbeeb0f831a78702f83af78a36,seed,NaN,18-09-2014,NaN
58473,/ORGANIZATION/MAGNET-TECH-Ç£Ç³Ç§Æ,/funding-round/8fc91fbb32bc95e97f151dd0cb4166bf,seed,NaN,16-08-2014,1625585.0
101036,/organization/tipcat-interactive-æ²èÿä¿¡æ¯ç...,/funding-round/41005928a1439cb2d706a43cb661f60f,seed,NaN,06-09-2010,NaN
109969,/ORGANIZATION/WEICHE-TECH-ÅÈ½¦Ç§Æ,/funding-round/f74e457f838b81fa0b29649740f186d8,venture,A,06-09-2015,NaN
113839,/ORGANIZATION/ZENGAME-Ç¦ Æ¸¸Ç§Æ,/funding-round/6ba28fb4f3eadf5a9c6c81bc5dde6cdf,seed,NaN,17-07-2010,NaN

#### Q5. Merge the two data frames so that all  variables (columns)  in the companies frame are added to the rounds2 data frame. Name the merged frame master_frame. How many observations are present in master_frame ?

In [32]:
# lower() the key columns of both dataframes, so they can match in case of diffence in case.
companies['permalink'] = companies['permalink'].str.lower()
rounds2['company_permalink'] = rounds2['company_permalink'].str.lower()
master_frame = pd.merge(left = companies,right = rounds2, how ='inner', left_on='permalink',right_on='company_permalink')
master_frame.shape[0]

114942

### Table 2.1 ( Average Values of Investments for Each of these Funding Types)
#### Q1/2/3/4. Average funding amount of different funding type ?

In [33]:
avg_venture_funding_amount = rounds2[rounds2['funding_round_type']=='venture']['raised_amount_usd'].mean()
print(avg_venture_funding_amount)

avg_angel_funding_amount = rounds2[rounds2['funding_round_type']=='angel']['raised_amount_usd'].mean()
print(avg_angel_funding_amount)

avg_seed_funding_amount = rounds2[rounds2['funding_round_type']=='seed']['raised_amount_usd'].mean()
print(avg_seed_funding_amount)

avg_private_equity_funding_amount = rounds2[rounds2['funding_round_type']=='private_equity']['raised_amount_usd'].mean()
print(avg_private_equity_funding_amount)

11748949.129489528
958694.4697530865
719817.9969071728
73308593.02944215

#### Q5. Considering that Spark Funds wants to invest between 5 to 15 million USD per  investment round, which investment type is the most suitable for them?

In [34]:
# transform is used to calculate  aggregated column with full table
most_suitable = rounds2.groupby(['funding_round_code','funding_round_type'])['raised_amount_usd'].transform(sum)
# Add new column to the rounds2 table.
rounds2['most_suitable'] = most_suitable
rounds2_filtered = rounds2.query('most_suitable >= 5000000 and most_suitable <= 15000000')
rounds2_filtered_grouping = rounds2_filtered.groupby('funding_round_type')['funding_round_code'].count().sort_values(ascending=False)
rounds2_filtered_grouping

funding_round_type
seed                9
post_ipo_equity     2
convertible_note    2
debt_financing      1
Name: funding_round_code, dtype: int64

### Table 3.1 ( Analysing the Top 3 English-Speaking Countries)
#### Q1/2/3. Top/Second/Third English speaking country ?

In [35]:
merged9 = pd.merge(left = rounds2_filtered,right = companies, how ='inner', left_on='company_permalink',right_on='permalink')
top9 = merged9.groupby('country_code')['most_suitable'].sum().sort_values(ascending=False)
top9

country_code
USA    76592264.0
TUR    51760000.0
SWE    12940000.0
DNK     5832264.0
Name: most_suitable, dtype: float64

### Table 3.1 ( Sector-wise Investment Analysis)
#### Q1. Total number of Investments (count)

In [36]:
sector_wise = companies.copy()
sector_wise['primary_sector'] = sector_wise['category_list'].str.split('|').str.get(0)
sector_wise.head(3)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps

In [634]:
mapping =  pd.read_csv(dirpath+file3,encoding='iso-8859-1') # Use 'iso-8859-1' for accented characters
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [38]:
# Defining function demap, which will convert data in mapping dataframe above to two columns output.
def demap(df):
    l = list()
    c = int(df.count().sort_values(ascending=False)[0])
    for i in range(c):
        for col_name in df.columns:
            if df[col_name][i]==1:
               l.append(col_name)
    df2 = df.copy()
    df2['final_value'] = l
    return df2.iloc[:,[0,-1]]

In [636]:
mapping_new = demap(mapping)
mapping_new.head()

   category_list                              final_value
0            NaN                                   Blanks
1             3D                            Manufacturing
2    3D Printing                            Manufacturing
3  3D Technology                            Manufacturing
4     Accounting  Social, Finance, Analytics, Advertising

In [40]:
companies_sector_wise = pd.merge(left=sector_wise, right=mapping_new,left_on='primary_sector',right_on='category_list')
# Drop unnecessary columns
companies_sector_wise.drop(labels=['category_list_x', 'category_list_y'],axis=1, inplace=True)
# Rename Columns
companies_sector_wise.rename(columns={'final_value':'main_sector'}, inplace=True)

In [41]:
companies_sector_wise.head()

,permalink,name,homepage_url,status,country_code,state_code,region,city,founded_at,primary_sector,main_sector
0,/organization/-fame,#fame,http://livfame.com,operating,IND,16,Mumbai,Mumbai,NaN,Media,Entertainment
1,/organization/90min,90min,http://www.90min.com,operating,GBR,H9,London,London,01-01-2011,Media,Entertainment
2,/organization/a-b-productions,A.B Productions,NaN,operating,USA,CA,Los Angeles,Los Angeles,11-12-2012,Media,Entertainment
3,/organization/a-dance-for-me,A Dance for Me,http://www.adanceforme.com/,operating,USA,MT,Missoula,Missoula,31-07-2011,Media,Entertainment
4,/organization/ace-film-productions,ACE Film Productions,NaN,operating,USA,NJ,Newark,Newark,01-06-2011,Media,Entertainment

In [42]:
master = pd.merge(left=companies_sector_wise,right=rounds2_filtered,left_on='permalink',right_on='company_permalink')
master.head()

,permalink,name,homepage_url,status,country_code,state_code,region,city,founded_at,primary_sector,main_sector,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,most_suitable
0,/organization/egalet,Egalet,http://www.egalet.com,ipo,DNK,17,DNK - Other,VÃ¦rlÃ¸se,01-01-1995,Biotechnology,Cleantech / Semiconductors,/organization/egalet,/funding-round/0e3d0be5cc9e0daabbcd06a0b621ab7e,post_ipo_equity,B,11-02-2014,NaN,5832264.0
1,/organization/verseon,Verseon,http://www.verseon.com/,ipo,USA,CA,SF Bay Area,Fremont,01-01-2002,Biotechnology,Cleantech / Semiconductors,/organization/verseon,/funding-round/727e6ba47e0a010be7fb9abb973c3b99,post_ipo_equity,B,14-05-2015,5832264.0,5832264.0
2,/organization/greencloud-technologies,Greencloud Technologies,http://www.gogreencloud.com,operating,USA,SC,Greenville - Spartanburg,Greenville,01-09-2011,Enterprise Software,Others,/organization/greencloud-technologies,/funding-round/1a9697466151f52bb48083292ba5b68b,debt_financing,D,11-11-2015,5000000.0,5000000.0
3,/organization/quickshift,Quickshift,NaN,operating,USA,TX,Austin,Austin,01-01-2000,Enterprise Software,Others,/organization/quickshift,/funding-round/d524c92a386849e7adf4ce4b300e977c,seed,B,18-07-2005,5200000.0,12940000.0
4,/organization/kapost,Kapost,http://kapost.com,operating,USA,CO,Denver,Boulder,02-04-2010,Content,Entertainment,/organization/kapost,/funding-round/9eaaf8e711135aaf06137a1f5bc23469,seed,B,12-01-2012,1500000.0,12940000.0

Create three separate data frames D1, D2 and D3 for each of the three countries containing the observations of funding type FT falling within the 5-15 million USD range. 
The three data frames should contain:
All the columns of the master_frame along with the primary sector and the main sector
The total number (or count) of investments for each main sector in a separate column
The total amount invested in each main sector in a separate column

In [43]:
#USA
D1 = master[master['country_code']==top9.index[0]]

#TUR
D2 = master[master['country_code']==top9.index[1]]

#SWE
D3 = master[master['country_code']==top9.index[2]]