# Machine Learning Template

## Importing the libraries

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
dirpath = 'C:/Users/ankit.bhatia/Documents/GitHub/PythonScripts/data/'

In [14]:
# Handle Missing Data
from sklearn.preprocessing import Imputer
# Encoding Categorical variables
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
# Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split
# Feature Scaling
from sklearn.preprocessing import StandardScaler
# Select Model
from sklearn.linear_model import LogisticRegression

## Importing the dataset

In [15]:
dataset = pd.read_csv(dirpath+'Social_Network_Ads.csv')
dataset.head()
# statistical summary of all numeric columns
#dataset.describe()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

## Define independent(X) and dependent(y) variable

In [16]:
X = dataset.iloc[:,1:4].values
#X = dataset.iloc[:,[1,2,3]].values
#X = dataset.loc[:,['Gender',Age','EstimatedSalary']].values
y = dataset.iloc[:,-1].values

## Handle Missing Data

In [17]:
#numeric
# Check if there is any missing values in dataset, if yes execute below statements
#print(dataset.isnull().sum())
#imputer = Imputer(missing_values='NaN',strategy='mean',axis=0)
#imputer = imputer.fit(X[:,2:4])
#X[:,2:4] = imputer.transform(X[:,2:4])

## Encoding Categorical Data

In [18]:
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])
#onehotencoder = OneHotEncoder(categorical_features = [0])
#X = onehotencoder.fit_transform(X).toarray()
# Encoding the Dependent Variable
#labelencoder_y = LabelEncoder()
#y = labelencoder_y.fit_transform(y)

## Splitting the dataset into the Training set and Test set

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

## Feature Scaling

In [20]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Program Files\Anaconda3\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)