In [2]:
# import libaries
import numpy as np
import pandas as pd
import nltk, pprint
import matplotlib.pyplot as plt
import random

import gzip, os, pickle # gzip for reading the gz files, pickle to save/dump trained model 
import _pickle as cPickle

import sklearn
from sklearn.model_selection import GridSearchCV
from sklearn.grid_search import RandomizedSearchCV

# supress warnings
import warnings
warnings.filterwarnings('ignore')

C:\Users\ab9bh\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\ab9bh\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [2]:
nltk.download('tagsets')

[nltk_data] Downloading package tagsets to
[nltk_data]     C:\Users\ankit.bhatia\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping help\tagsets.zip.

True

In [22]:
my_dict = {'a':[1,2,3],
           'b':[1,2,3], 
           'c':[1,2, 3]}

In [23]:
my_dict.values()

dict_values([[1, 2, 3], [1, 2, 3], [1, 2, 3]])

   a  b  c
0 -1 -1  1
1 -2 -2  2
2 -3 -3  3