In [1]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
# Reading the csv file and putting it into 'df' object.
df = pd.read_csv('Training_Set.csv')
df_val = pd.read_csv('Validation_Set.csv')

In [3]:
df.head()

   Attribute 1 (a1)  Attribute 2 (a2)  Class Label
0                 2                11            2
1                 2                13            2
2                 2                15            2
3                 2                27            1
4                 2                39            1

In [7]:
df_val.head()

,Attribute 1 (a1),Attribute 2 (a2),True Class Label,Class Label as predicted by the decision tree,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2,35,1,1,NaN,NaN,NaN
1,12,13,2,1,NaN,NaN,NaN
2,-4,45,2,2,NaN,NaN,NaN
3,2,17,2,2,NaN,NaN,NaN

In [4]:
# Importing train-test-split 
from sklearn.model_selection import train_test_split

In [5]:
# Putting feature variable to X
X = df.drop('Class Label',axis=1)

# Putting response variable to y
y = df['Class Label']

In [8]:
# Importing decision tree classifier from sklearn library
from sklearn.tree import DecisionTreeClassifier

# Fitting the decision tree with default hyperparameters, apart from
# max_depth which is 5 so that we can plot and read the tree.
dt_default = DecisionTreeClassifier(max_depth=5)
dt_default.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')