# Missing Values

In [1]:
import numpy as np
import pandas as pd

#### Print out the number of missing values in each column in the given dataframe.

In [3]:
marks = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')
print(marks.isnull().sum())

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

#### Print out the number of missing values in the given dataframe.

In [2]:
marks = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')
print(marks.isnull().sum().sum())

44

#### Find out the percentage of missing values in each column in the given dataset.

In [3]:
print(round((df.isnull().sum()*100)/len(df.index),2))#Round off percentage values to 2 decimial places.

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.24
Discount               0.65
Order_Quantity         0.65
Profit                 0.65
Shipping_Cost          0.65
Product_Base_Margin    1.30
dtype: float64

#### Remove the missing values from the rows having greater than 5 missing values and then print the percentage of missing values in each column.

In [22]:
marks = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')
print(marks.isnull().sum())
# this will count of misiing values column wise
#marks.isnull().sum()

# this will count of misiing values column wise
rownames = marks.transpose().isnull().sum() == 5
rownames = list(rownames[rownames==True].index)
marks.drop(marks.index[rownames],inplace=True)

print(marks.isnull().sum())

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64
Prefix         0
Assignment     0
Tutorial      10
Midterm       14
TakeHome       7
Final          3
dtype: int64

#### Define function removeNull

In [195]:
def removeNull(dataframe,perCol=0.2,perRow=0.2):
    '''
    * removeNull function will remove the rows and columns based on parameters provided.
    * dataframe : Name of the dataframe
    * perCol    : percent of data where column values are null
    * perRow    : percent of data where row values are null
    '''
    ishape = dataframe.shape
    colnames = (dataframe.isnull().sum()/len(dataframe)>perCol)
    colnames = list(colnames[colnames==True].index)
    dataframe.drop(labels = colnames,axis =1,inplace=True)
    
    rownames = (dataframe.transpose().isnull().sum()/len(colnames))>=perRow
    rownames = list(rownames[rownames==True].index)
    dataframe.drop(rounds2.index[rownames],inplace=True)
    print(ishape,dataframe.shape)
    
    return dataframe.head()

In [194]:
removeNull(dataframe = rounds2)

(114949, 6) (94959, 5)

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10000000.0
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,19-03-2008,2000000.0
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,01-07-2014,41250.0

***

# Standardising Values

#### Removing extra characters from a column
The given data frame 'customer' has a column 'Cust_id' which has values Cust_1, Cust_2 and so on.
Remove the repeated 'Cust_' from the column Cust_id so that the output column Cust_id have just numbers like 1, 2, 3 and so on.
Print the first 10 rows of the dataset  'customer' after processing.

In [30]:
customer = pd.read_csv('https://query.data.world/s/y9rxL9mGdP6AXPiDaIL4yYm6DsfTV2')
customer['Cust_id'] = customer.Cust_id.str.replace('Cust_','')
print(customer.head(10))

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS       1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER       2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE       3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER       4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE       5
5      MONICA FEDERLE  NUNAVUT  NUNAVUT        CORPORATE       6
6     DOROTHY BADDERS  NUNAVUT  NUNAVUT      HOME OFFICE       7
7     NEOLA SCHNEIDER  NUNAVUT  NUNAVUT      HOME OFFICE       8
8         CARLOS DALY  NUNAVUT  NUNAVUT      HOME OFFICE       9
9       CLAUDIA MINER  NUNAVUT  NUNAVUT   SMALL BUSINESS      10

# Invalid Values