In [22]:
import numpy as np
import pandas as pd

#### Print out the number of missing values in each column in the given dataframe.

In [2]:
df = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
print(df.isnull().sum())

Ord_id                   0
Prod_id                  0
Ship_id                  0
Cust_id                  0
Sales                   20
Discount                55
Order_Quantity          55
Profit                  55
Shipping_Cost           55
Product_Base_Margin    109
dtype: int64

#### Find out the percentage of missing values in each column in the given dataset.

In [3]:
print(round((df.isnull().sum()*100)/len(df.index),2))#Round off percentage values to 2 decimial places.

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.24
Discount               0.65
Order_Quantity         0.65
Profit                 0.65
Shipping_Cost          0.65
Product_Base_Margin    1.30
dtype: float64

#### Remove the missing values from the rows having greater than 5 missing values and then print the percentage of missing values in each column.

In [28]:
df = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
rownames = df.transpose().isnull().sum() > 5
rownames = list(rownames[rownames==True].index)
df.drop(df.index[rownames],inplace=True)
print(round(100*(df.isnull().sum())/len(df.index),2))

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.00
Discount               0.42
Order_Quantity         0.42
Profit                 0.42
Shipping_Cost          0.42
Product_Base_Margin    1.06
dtype: float64

#### Remove the missing values from the rows/columns having greater than 20% missing values.

In [191]:
inputDir = 'C:/Users/ankit.bhatia/Documents/GitHub/PythonScripts/projects/Project_Spark_Funds/spark_funds_data/'

rounds2 = pd.read_csv(inputDir+'rounds2.csv',encoding='iso-8859-1') # Use 'iso-8859-1' for accented characters
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

#### Define function removeNull

In [193]:
def removeNull(dataframe,perCol=0.2,perRow=0.2):
    '''
    * Params : 
    * dataframe : Name of the dataframe
    * perCol    : percent of data where column values are null
    * perRow    : percent of data where row values are null
    '''
    ishape = dataframe.shape
    colnames = (dataframe.isnull().sum()/len(dataframe)>perCol)
    colnames = list(colnames[colnames==True].index)
    dataframe.drop(labels = colnames,axis =1,inplace=True)
    
    rownames = (dataframe.transpose().isnull().sum()/len(colnames))>=perRow
    rownames = list(rownames[rownames==True].index)
    dataframe.drop(rounds2.index[rownames],inplace=True)
    print(ishape,dataframe.shape)
    
    return dataframe.head()

In [194]:
removeNull(dataframe = rounds2)

(114949, 6) (94959, 5)

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10000000.0
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,19-03-2008,2000000.0
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,01-07-2014,41250.0

#### Impute the mean value at all the missing values of the column 'Product_Base_Margin' and then print the percentage of missing values in each column.

In [32]:
df = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
df['Product_Base_Margin'].fillna(value = df['Product_Base_Margin'].mode()[0],inplace =True)
print(round(100*(df.isnull().sum())/len(df.index),2))

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.24
Discount               0.65
Order_Quantity         0.65
Profit                 0.65
Shipping_Cost          0.65
Product_Base_Margin    0.00
dtype: float64