In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./MyCsv.csv", delimiter='@@@')

C:\Users\ab9bh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
df

   ID                     Signal
0   0                 HT_CLKIN_P
1   1                HT_CLKOUT_P
2   2  LDTPHY013_Inst1.HT_REFCLK
3   3              clk_PCI1CLK_H
4   4         clk_ht100_or_200_H
5   5              clk_pcibr66_H
6   6               h_extrxclkin
7   7               h_exttxclkin

#### Custom Function to filter the data in the dataframe based on your regular expression.

In [4]:
def filterData(df,colname,regex):
    '''
    df:: Dataframe Name
    colname: Name of the column against which you want to filter the data.
    regex: Regular expression or special characters you want to search.
    '''
    return df[df[colname].str.contains(regex,regex=True)]

__ 1. Check if column contains the word 'CLK'__

In [5]:
filterData(df,'Signal','CLK')

   ID                     Signal
0   0                 HT_CLKIN_P
1   1                HT_CLKOUT_P
2   2  LDTPHY013_Inst1.HT_REFCLK
3   3              clk_PCI1CLK_H

__ 2. Check if column value is starting with the word 'HT'__

In [6]:
filterData(df,'Signal','^HT')

   ID       Signal
0   0   HT_CLKIN_P
1   1  HT_CLKOUT_P

__ 3. Check if column value is ending with the word '_H'__

In [7]:
filterData(df,'Signal','_H$')

   ID              Signal
3   3       clk_PCI1CLK_H
4   4  clk_ht100_or_200_H
5   5       clk_pcibr66_H

__ 4. Check if column value contains any number 0-9__

In [8]:
filterData(df,'Signal','\d')

   ID                     Signal
2   2  LDTPHY013_Inst1.HT_REFCLK
3   3              clk_PCI1CLK_H
4   4         clk_ht100_or_200_H
5   5              clk_pcibr66_H