In [30]:
import pandas as pd
import calendar

In [ ]:
uber['Year'] = uber['TIMESTAMP'].apply(lambda x: x.year)
uber['Month'] = uber['TIMESTAMP'].apply(lambda x: x.month)
uber['Quarter'] = uber['TIMESTAMP'].apply(lambda x: x.quarter)
uber['Week'] = uber['TIMESTAMP'].apply(lambda x: x.week)
uber['Day'] = uber['TIMESTAMP'].apply(lambda x: x.weekday_name)
uber.head()

In [66]:
uber = pd.read_csv('C:/Users/ankit.bhatia/Documents/Cognos/Uber Final.csv')
uber['Timestamp'] = pd.to_datetime(uber.Timestamp)
uber['Week'] = uber['Timestamp'].apply(lambda x: 'Week'+ str(x.week))
uber.head()

,Latitude,Longitude,Base,Timestamp,Year,Quarter,Month,DayName,Cluster,Week
0,40.7293,-73.9920,B02512,2014-06-01 00:00:00,2014,Q6,February,Sunday,0,Week22
1,40.7131,-74.0097,B02512,2014-06-01 00:01:00,2014,Q6,February,Sunday,0,Week22
2,40.3461,-74.6610,B02512,2014-06-01 00:04:00,2014,Q6,February,Sunday,2,Week22
3,40.7555,-73.9833,B02512,2014-06-01 00:04:00,2014,Q6,February,Sunday,5,Week22
4,40.6880,-74.1831,B02512,2014-06-01 00:07:00,2014,Q6,February,Sunday,2,Week22

In [69]:
uber2 = pd.read_csv('C:/Users/ankit.bhatia/Documents/Cognos/UBER2.csv')
uber2['Week'] = 'Week'+ uber2['Week'].map(str)
uber2.head()

          TIMESTAMP  CLUSTER  COUNT  Year  Month Quarter    Week        Day
0  04-07-2014 00:00        7     50  2014   July      Q3  Week27     Friday
1  04-07-2014 00:00        7     45  2014   July      Q3  Week27     Friday
2  30-04-2014 17:45        7     36  2014  April      Q2  Week18  Wednesday
3  30-04-2014 18:39        7     34  2014  April      Q2  Week18  Wednesday
4  30-04-2014 19:05        4     34  2014  April      Q2  Week18  Wednesday

In [55]:
#uber['Day'] = 'Day'+ uber['Day'].map(str)
#uber['Quarter'] = 'Q'+ uber['Quarter'].map(str)
#uber.drop(labels ='Day',axis =1,inplace=True)
#uber['Month'] = uber['Month'].apply(lambda x : calendar.month_name[x])
#pd.Timestamp(uber['Timestamp'])
#uber.head()

In [62]:
uber.to_csv(path_or_buf = 'C:/Users/ankit.bhatia/Documents/Cognos/Uber Final.csv',index= False)

In [70]:
uber2.to_csv(path_or_buf = 'C:/Users/ankit.bhatia/Documents/Cognos/UBER2.csv',index= False)