In [1]:
#Importing Libraries
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.cluster import KMeans
import seaborn as sns

In [3]:
#reading Dataset
retail = pd.read_csv("Online Retail.csv",  sep = ',',encoding = "ISO-8859-1", header= 0)

In [8]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom

In [5]:
# parse date
retail['InvoiceDate'] = pd.to_datetime(retail['InvoiceDate'])

In [11]:
#dropping the na cells
order_wise = retail.dropna()
order_wise.shape

(406829, 8)

RFM analysis

In RFM analysis, you look at the recency, frequency and the monetary scores of all the customers for segmentation.

Recency: It measures how recently you visited the store or made a purchase

Frequency: It measures the frequency of the transactions the customers made

Monetary: It measures how much the customer spent on purchases he/she made

#### M

In [12]:
#RFM implementation
amount  = pd.DataFrame(order_wise.Quantity * order_wise.UnitPrice, columns = ["Amount"])

#merging amount in order_wise
order_wise = pd.concat(objs = [order_wise, amount], axis = 1, ignore_index = False)

In [13]:
#Monetary Function
monetary = order_wise.groupby("CustomerID").Amount.sum()
monetary = monetary.reset_index()

#### F

In [14]:
#Frequency function
frequency = order_wise[['CustomerID', 'InvoiceNo']]

k = frequency.groupby("CustomerID").InvoiceNo.count()
k = pd.DataFrame(k)
k = k.reset_index()
k.columns = ["CustomerID", "Frequency"]

In [15]:
#creating master dataset
master = monetary.merge(k, on = "CustomerID", how = "inner")

#### R

In [16]:
#Generating recency function
recency  = order_wise[['CustomerID','InvoiceDate']]
maximum = max(recency.InvoiceDate)
maximum = maximum + pd.DateOffset(days=1)
recency['diff'] = maximum - recency.InvoiceDate

#Dataframe merging by recency
df = pd.DataFrame(recency.groupby('CustomerID').diff.min())
df = df.reset_index()
df.columns = ["CustomerID", "Recency"]

C:\Users\ankit.bhatia\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [17]:
#Combining all recency, frequency and monetary parameters
RFM = k.merge(monetary, on = "CustomerID")
RFM = RFM.merge(df, on = "CustomerID")

Thus, you have obtained the RFM data corresponding to each customer. These 3 attributes will form the basis, depending on which the customers will be segregated into different clusters.

In [19]:
#reading Dataset
cricket = pd.read_csv("Cricket.csv",encoding = "ISO-8859-1")
cricket.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28

In [26]:
top_features = cricket[['Ave','SR']]
top_features.head()

     Ave     SR
0  44.83  86.23
1  41.98  78.86
2  42.03  80.39
3  32.36  91.20
4  33.37  78.96

In [27]:
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()
standard_scaler.fit_transform(top_features)

array([[ 1.07229395,  0.70315153],
       [ 0.58772461, -0.0441395 ],
       [ 0.59622582,  0.1109969 ],
       [-1.04790945,  1.20709133],
       [-0.87618487, -0.03399986],
       [ 0.16946476, -0.51259058],
       [ 0.99238251, -0.64947564],
       [ 0.42450125, -0.56734461],
       [ 0.108256  , -0.8167796 ],
       [ 0.33268811,  0.02176813],
       [ 0.12695867,  0.70315153],
       [ 0.54181804, -0.42538973],
       [-0.44772356,  1.78910632],
       [ 2.17575185,  0.95258652],
       [-0.2725985 , -0.53489778],
       [ 2.5549061 ,  2.1247282 ],
       [-0.61604765,  0.1860302 ],
       [-0.20288853,  0.58958763],
       [ 0.11675721,  0.13938788],
       [ 0.52311536, -0.86747777],
       [-0.3355075 ,  0.84916225],
       [ 0.48400977, -1.64315977],
       [-0.16208269, -1.17369472],
       [ 0.14056062, -0.24287632],
       [-0.590544  ,  2.53842527],
       [ 2.62121559,  1.1857981 ],
       [-0.40691772,  0.4020044 ],
       [-2.5424233 ,  3.82311689],
       [-1.04110847, -0.79143052],
       [ 1.02978787, -0.03197193],
       [-0.95609631, -0.3432587 ],
       [-0.45622478, -0.14147998],
       [ 0.5401178 , -1.24568612],
       [-1.2383367 , -0.40612443],
       [ 1.99382582,  0.9890892 ],
       [-0.95949679, -0.29256053],
       [-0.61264716, -0.67482473],
       [-0.09237271,  0.15358337],
       [ 2.56000683, -0.52070229],
       [ 0.41259955, -0.73566253],
       [-0.54123694, -0.47710186],
       [-0.55993962,  0.24585404],
       [ 1.44124674,  1.10569499],
       [-0.85068122, -1.1878902 ],
       [-1.05301018,  0.10187123],
       [-1.34375178, -0.79852826],
       [ 0.95157667,  0.2772869 ],
       [-0.8693839 , -1.57725215],
       [-0.71806225, -0.43248747],
       [ 0.89716889, -0.03399986],
       [-1.37945689,  1.73131041],
       [ 1.0348886 , -0.68293643],
       [-0.25219558, -1.43631123],
       [-0.58034254,  0.16270904],
       [-0.93739363, -0.37671949],
       [-1.09381601, -1.62085257],
       [ 0.7050414 , -0.36049607],
       [ 0.03514554,  0.94548878],
       [-0.54123694, -0.27025333],
       [ 0.34288957,  1.13003011],
       [-0.7044603 , -0.09990748],
       [-0.52083402,  1.46666596],
       [ 0.01984335, -0.28647675],
       [ 0.81215672,  0.85524603],
       [ 1.63677472,  0.79745012],
       [ 0.66933629,  0.53381964],
       [-0.11107539, -0.21651327],
       [-0.17908512, -0.96279033],
       [ 0.3870959 , -0.15871736],
       [-0.62964959, -0.48926942],
       [ 0.19666865,  0.60378311],
       [-1.3641547 , -1.32984508],
       [-0.71806225, -0.3097979 ],
       [-1.53587927, -1.89867854],
       [ 1.10629881, -1.45760447],
       [ 0.82915916, -0.56227479],
       [-0.53783646, -0.23476461],
       [ 0.20857035,  1.33282279],
       [-1.50017416,  0.19819776]])

In [28]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters = 4)
model.fit(X= top_features)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [ ]:
# analysis of clusters formed
cricket.index = pd.RangeIndex(len(cricket.index))
cricket_km = pd.concat([cricket, pd.Series(model.labels_)], axis=1)
cricket_km.columns = ['CustomerID', 'Frequency', 'Amount', 'Recency', 'ClusterID']

RFM_km.Recency = RFM_km.Recency.dt.days
km_clusters_amount = 	pd.DataFrame(RFM_km.groupby(["ClusterID"]).Amount.mean())
km_clusters_frequency = 	pd.DataFrame(RFM_km.groupby(["ClusterID"]).Frequency.mean())
km_clusters_recency = 	pd.DataFrame(RFM_km.groupby(["ClusterID"]).Recency.mean())