In [1]:
import numpy as np
import pandas as pd

In [2]:
food = pd.read_csv('MyFoodRatings.csv')

In [4]:
food.head()

,Name,Chicken,Mutton,Paneer,ChowMein,SpringRolls,Momo,Sushi,Ramen,Tempura
0,A,5,5,5,0,0,0,0,0,0
1,B,4,4,4,0,0,0,0,0,0
2,C,3,3,3,0,0,0,0,0,0
3,D,2,2,2,0,0,0,0,0,0
4,E,0,0,0,2,2,2,0,0,0

In [11]:
data = food.iloc[:,1:]
data.head()

   Chicken  Mutton  Paneer  ChowMein  SpringRolls  Momo  Sushi  Ramen  Tempura
0        5       5       5         0            0     0      0      0        0
1        4       4       4         0            0     0      0      0        0
2        3       3       3         0            0     0      0      0        0
3        2       2       2         0            0     0      0      0        0
4        0       0       0         2            2     2      0      0        0

In [12]:
u,s,vt = np.linalg.svd(data,full_matrices= True)

In [13]:
u.shape

(12, 12)

In [14]:
vt.shape

(9, 9)

In [19]:
s.max()

12.727922061357855

In [21]:
np.diag(s[:3])

array([[ 12.72792206,   0.        ,   0.        ],
       [  0.        ,  10.57703788,   0.        ],
       [  0.        ,   0.        ,   8.84826058]])

In [24]:
np.diag(u[3:])

array([ -2.72165527e-01,  -3.26217015e-01,   1.64357582e-16,
         2.77555756e-17,  -5.79857394e-01,   8.37361465e-02,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00])